.button {
  display: flex;
  justify-content: center;
  position: relative;
  &__inner {
  width: 280px;
  height: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

 
  border: none;
  cursor: pointer;

  color: #FFFFFF;

  background-color: #05C2DF;
  border-radius: 4px;
  }
  &__position {
    position: relative;
    bottom: -20px;
  }
}